@model LosInges.Models.Cliente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Update", "Cliente", new AjaxOptions { UpdateTargetId = "frmContUp" }))
        {

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header  card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">contacts</i>
                        </div>
                        <h4 class="card-title">Actualizar</h4>
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div hidden>
                            @Html.EditorFor(model => model.IdCliente)
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Nombre Cliente</label>
                                    <span class="material-input">
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "border: none; background-color:white;" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Apellido Paterno</label>
                                    <span class="material-input">
                                        @Html.EditorFor(model => model.ApPat, new { htmlAttributes = new { @class = "form-control", @style = "border: none; background-color:white;" } })
                                        @Html.ValidationMessageFor(model => model.ApPat, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Apellido Materno</label>
                                    <span class="material-input">
                                        @Html.EditorFor(model => model.ApMat, new { htmlAttributes = new { @class = "form-control", @style = "border: none; background-color:white;" } })
                                        @Html.ValidationMessageFor(model => model.ApMat, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Telefono</label>
                                    <span class="material-input">
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @style = "border: none; background-color:white;" } })
                                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Correo</label>
                                    <span class="material-input">
                                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @style = "border: none; background-color:white;" } })
                                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Actualizar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        @Html.Action("Create", "Auto", new { IdCliente = Model.IdCliente })
    </div>
    <div class="col-md-12">
        @Html.Action("ListaCarro", "Auto", new { IdCliente = Model.IdCliente })
    </div>

</div>




