@model LosInges.Models.Producto
@*Si el  layout es null es una vista parcial si no lo siguiente *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header card-header-info card-header-text">
                <div class="card-icon">
                    <i class="material-icons">people</i>
                </div>
                <h4 class="card-title">Productos</h4>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NoParte, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NoParte, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NoParte, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Agregar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header card-header-info card-header-text">
                <div class="card-icon">
                    <i class="material-icons">shopping_cart</i>
                </div>
                <h4 class="card-title">Productos</h4>
            </div>
            <div class="card-body ">
                <div class="row col-md-12">
                </div>
                <br />
                <div class="row">

                    <div class="col-md-12">
                        @Html.EJS().Grid("GridProducto").DataSource((IEnumerable<object>)ViewBag.ListProducto).AllowFiltering().AllowTextWrap().EnableAutoFill().AllowResizing(true).Columns(col =>
                   {
                                  col.Field("IdProducto").Visible(false).Add();
                                  col.Field("Descripcion").HeaderText("Descripcion").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                                  col.Field("NoParte").HeaderText("NoParte").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                                  col.HeaderText("Opciones").Template("#EliminarProducto").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();


                        }).AllowPaging().PageSettings(page => { page.PageSize(5); }).Render()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="EliminarProducto" type="text/x-template">
    <div class="btn-group">

        <a class="text-danger" href="javascript:void(0)" onclick="Eliminar(${IdProducto})" data-toggle="tooltip" data-placement="top" title="Eliminar">
            <i class="material-icons">delete_forever</i>
        </a>
    </div>

</script>

<script>
    function Eliminar(IdProducto) {

        $.get('@Url.Action("Delete", "Productos",new { IdProducto="_IdAv_"})'.replace('_IdAv_', IdProducto), function (data) {
            Swal.fire(
                'Correcto!',
                'Peoducto eliminado con exito!',
                'success'
            ).then((result) => {
                location.reload();
            });
        });
    }
</script>
